/*
    Document   : nordDarks
*/

/*
Palette built from a subset of the 16 nord colors, as defined by nordtheme.com.
I make no guarantees as to the application of the theme by its creators;
I'm a computer scientist, not a design major.
-Rory
*/

.root{
    //Polar Night
    nord0:  #2E3440;
    nord1:  #3B4252;
    nord2:  #434C5E;
    nord3:  #4C566A;
    //Frost
    nord7:  #8FBCBB;
    nord8:  #88C0D0;
    nord9:  #81A1C1;
    nord10: #5E81AC;

    -fx-font-size:      12pt;
    -fx-base:           nord1;
    -fx-background:     nord0;
}

.button{
    -fx-font-size:      14pt;
    -fx-text-fill:      white;
    -fx-border-color:   nord3;
    -fx-border-radius:  1;
}
.button:hover{
}

#canvasPane{
    -fx-background:     nord0;
    -fx-base:           nord3;
}
